
// Top row with author's image and name
.kp-flexrow {
  display: flex;
}
figure.kp-entity-image {
  margin-right: 10px;
}
figure.kp-entity-image > img {
  max-width: 100px;
  max-height: 100px;
}
.kp-content h3 {
  margin: 0;
  line-height: 1.2;
}
.kp-source {
  font-size: smaller;
  margin-top: 5px;
}

// List items and heading
.kp-content h4 {
  margin: 10px 0 4px 0;
}
ul {
  list-style: none;
  padding: 0 !important;
  margin-bottom: 0;
}
li:before {
  content: "•";
  padding-right: 3px;
}

// Button to expand list
.kp-content button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0;
  font-size: smaller;
}
